*.vsidx
*.ipch
*.db
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

/.vs/CSC8503/FileContentIndex/read.lock
/.vs
/Build
/CMakeFiles
/out/build/x64-Debug

/CSC8503/CMakeFiles
/CSC8503/Debug
/CSC8503/cmake_install.cmake
/CSC8503/CSC8503.dir

/CSC8503CoreClasses/CMakeFiles
/CSC8503CoreClasses/Debug
/CSC8503CoreClasses/cmake_install.cmake
/CSC8503CoreClasses/CSC8503CoreClasses.dir

/NCLCoreClasses/CMakeFiles
/NCLCoreClasses/Debug
/NCLCoreClasses/cmake_install.cmake
/NCLCoreClasses/NCLCoreClasses.dir

/OpenGLRendering/CMakeFiles
/OpenGLRendering/Debug
/OpenGLRendering/cmake_install.cmake
/OpenGLRendering/OpenGLRendering.dir

/CMakeCache.txt
/cmake_install.cmake